<?xml version="1.0" encoding="UTF-8"?>
<interface>
    <object class="GtkMenu" id="menu">
        <child>
            <object class="GtkMenuItem" id="kitty">
                <property name="label">🐱 Kitty</property>
            </object>
        </child>
        <child>
            <object class="GtkMenuItem" id="ghostty">
                <property name="label">👻 Ghostty</property>
            </object>
        </child>
        <child>
            <object class="GtkSeparatorMenuItem"/>
        </child>
        <child>
            <object class="GtkMenuItem" id="firefox">
                <property name="label">🦊 Firefox</property>
            </object>
        </child>
        <child>
            <object class="GtkMenuItem" id="brave">
                <property name="label">🦁 Brave</property>
            </object>
        </child>
        <child>
            <object class="GtkSeparatorMenuItem"/>
        </child>
        <child>
            <object class="GtkMenuItem" id="power">
                <property name="label">🔴 Power</property>
            </object>
        </child>
    </object>
</interface>
